@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auth-screen-gradient {
    background-image: linear-gradient(to top, #7db8ff 0%, #d8a7ff 100%);
  }
}

.bg-landing {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
